h1 {
  color: red;  
}

.headder {
  background-color: #faa;
  height: 400px;
  float: left;
}

.headder img {
  width: 400px;
  height: 400px;
}

.headder span {
    color: black;
}
